*{
    font-family: 'Nanum Gothic Coding', monospace;
}

#root{
    background-color: #ddd;
}

p{
    color: #fff(216, 210, 210);
}
.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: teal 5px solid;
    background-color: #365;
    height: 45px;
    margin: 10px;
    background-color: #71f;
}

#barraInicio {
    background-color: yellow    ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    width: 90px;
    transition: width 0.5s;
}

#barraInicio:hover {
    width: 100px;
}

#logoBajada {
    background-color: yellow;
    display: flex;
    flex-direction: row;
}

#root {
    
    background-color: #19f;
}

h1, h4 {
    margin: 0 ;
    padding: 5px;
    background-color: yellow;
}

.navBarMenu {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 2px;
    padding: 2px;
    border-bottom: black 3px solid;
    transition: background-color 1s ;
}

.navBarMenu:hover {

    background-color: yellow;
}

.algo {
    background-color: salmon;
}

#aplicacion {
    background-color: black;
    height: 150px;
}

@media screen and (min-width : 700px) {
    #aplicacion {
        background-color: white;
        height: 200px;
    }
}

.container{
    display: flexbox;
    justify-content: center;
    align-items: center;
}

.contador {
    width: 500px;

    display: flexbox;
    flex-direction: row;
    justify-content: space-between;
}

.app {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
}

.contador-botones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.productos{
    margin: 10px;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

ul , li {
    list-style: none;
}

.lista{
    width: 150px;
    height: 450px;
    background-color: #365;
    border: black solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 500px;
    padding: 5px;
}

.botonesCompra {
    width: 200px;
}

#presentacion{
    text-align: center;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: 110px;
}

.linksRouter{
    border: black;
    margin: 20px;
    padding: 5px;
    height: 50px;
    background-color: yellow;
    display: flex;
    font-family: 'Nanum Gothic Coding', monospace;
    justify-content: center;
}

img {
    width: 330px;
    height: 200px;
}

.botonDetalle {
    background-color: yellow;
}

.listaDetalle {
    margin: 2px;
    background-color: #365;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

.formulario{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    border: #111 solid 2px;
}

.nombreForm {
    margin: 2px;
    width: 200px;
    height: 30px;
    color: black;
}

.emailForm{
    width: 200px;
    height: 30px;
}
.telefonoForm{
    width: 200px;
    height: 30px;
}

::placeholder{
    color: #444;
}

.divNavBa{
    background-color:#365 ;
}